In [67]:
# Importing libraries:

%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [68]:
#importing clean dataset
diamonds = pd.read_csv('./clean_diamonds.csv')
diamonds = pd.DataFrame(diamonds)

In [69]:
#first check of dataset
print(diamonds.shape)
display(diamonds.head())

(40455, 9)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,carat_bin
0,0,3.081321,3.0,0.685714,0.763636,0.106170,-0.205764,12831,1.00
1,1,3.439708,1.8,0.514286,0.763636,1.013798,-0.205764,16170,1.00
2,2,0.003405,2.4,0.857143,0.763636,-0.522188,-0.205764,2797,0.60
3,3,-0.839859,3.0,0.857143,0.572727,1.083616,1.138849,630,0.25
4,4,-1.029593,3.0,0.685714,1.145455,-0.103283,-1.102173,698,0.10

In [70]:
diamonds.drop(['Unnamed: 0'], axis=1, inplace=True)
display(diamonds)

          carat  cut     color   clarity     depth     table  price  carat_bin
0      3.081321  3.0  0.685714  0.763636  0.106170 -0.205764  12831       1.00
1      3.439708  1.8  0.514286  0.763636  1.013798 -0.205764  16170       1.00
2      0.003405  2.4  0.857143  0.763636 -0.522188 -0.205764   2797       0.60
3     -0.839859  3.0  0.857143  0.572727  1.083616  1.138849    630       0.25
4     -1.029593  3.0  0.685714  1.145455 -0.103283 -1.102173    698       0.10
...         ...  ...       ...       ...       ...       ...    ...        ...
40450  0.656935  2.4  0.514286  0.954545  0.734528  1.587054   5315       0.80
40451 -0.144166  3.0  0.857143  1.145455  0.594893 -0.653969   2762       0.55
40452  0.973160  1.8  0.342857  1.336364 -1.778904  1.138849   6855       0.90
40453 -0.165247  3.0  0.685714  0.763636 -0.242918 -0.653969   2297       0.55
40454 -0.544716  2.4  0.685714  0.954545 -0.661823  0.690645   1356       0.45

[40455 rows x 8 columns]

In [71]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix, accuracy_score

In [72]:
columns = ['carat','cut','color','clarity','depth','table']
#columns = ['carat','carat_bin','cut','color','clarity','depth','table']
X = diamonds[columns]
y = diamonds['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X.shape,y.shape)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)
display(X.head())
display(y.head())

(40455, 7) (40455,)
(32364, 7) (8091, 7) (32364,) (8091,)

      carat  carat_bin  cut     color   clarity     depth     table
0  3.081321       1.00  3.0  0.685714  0.763636  0.106170 -0.205764
1  3.439708       1.00  1.8  0.514286  0.763636  1.013798 -0.205764
2  0.003405       0.60  2.4  0.857143  0.763636 -0.522188 -0.205764
3 -0.839859       0.25  3.0  0.857143  0.572727  1.083616  1.138849
4 -1.029593       0.10  3.0  0.685714  1.145455 -0.103283 -1.102173

0    12831
1    16170
2     2797
3      630
4      698
Name: price, dtype: int64

In [73]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_classification

In [74]:
clf = RandomForestRegressor(n_estimators=200)

In [75]:
clf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [76]:
y_predr = clf.predict(X_test)

In [77]:
r2_score(y_test, y_predr)
###0.98247

0.9802471969185225

In [78]:
from math import sqrt
rmse = sqrt(mean_squared_error(y_test, y_predr))
rmse
###522.2239

551.7469621222737

In [79]:
dfm1 = pd.DataFrame()
dfm1["y_test"]=y_test
dfm1["y_predr"]=y_predr
dfm1["diff"]=y_test-y_predr

display(dfm1.head(5))

       y_test      y_predr        diff
32391     827   913.635095  -86.635095
4414     5245  5684.890000 -439.890000
38538    2973  3139.168333 -166.168333
17914    4214  3935.928333  278.071667
32137     860   944.078750  -84.078750

In [80]:
##testing
#importing dataset
test1 = pd.read_csv('./clean_test.csv')
test1 = pd.DataFrame(test1)

In [81]:
display(test1.head())

,Unnamed: 0,id,carat,cut,color,clarity,depth,table,carat_bin
0,0,0,-0.500241,3.0,0.342857,1.145455,0.241489,-1.537773,0.45
1,1,1,0.535739,3.0,0.685714,1.145455,0.101972,-0.646693,0.80
2,2,2,-0.627096,2.4,1.028571,1.145455,-0.177064,-0.646693,0.35
3,3,3,0.007178,3.0,0.857143,1.336364,0.729801,-0.646693,0.60
4,4,4,-0.542526,3.0,0.685714,1.336364,-0.246823,-0.201152,0.40

In [82]:
#test1.drop(['Unnamed: 0','id'], axis=1, inplace=True)
test1.drop(['Unnamed: 0','id','carat_bin'], axis=1, inplace=True)
display(test1.head())

      carat  cut     color   clarity     depth     table  carat_bin
0 -0.500241  3.0  0.342857  1.145455  0.241489 -1.537773       0.45
1  0.535739  3.0  0.685714  1.145455  0.101972 -0.646693       0.80
2 -0.627096  2.4  1.028571  1.145455 -0.177064 -0.646693       0.35
3  0.007178  3.0  0.857143  1.336364  0.729801 -0.646693       0.60
4 -0.542526  3.0  0.685714  1.336364 -0.246823 -0.201152       0.40

In [83]:
y_test1=clf.predict(test1)

In [84]:
pred_test1 = pd.DataFrame({
    'id': test1.index,
    'price': y_test1
})

In [85]:
display(pred_test1.head())

   id        price
0   0  1283.530833
1   1  2835.245000
2   2  1015.590833
3   3  2660.340000
4   4  1085.245833

In [42]:
#printing test predictions
pred_test1.to_csv('./output/pred_test5.csv', index=False)