In [17]:
# Importing libraries:

%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
#importing clean dataset
diamonds = pd.read_csv('./clean_diamonds.csv')
diamonds = pd.DataFrame(diamonds)

In [19]:
#first check of dataset
print(diamonds.shape)
display(diamonds.head())

(40455, 9)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,carat_bin
0,0,3.081321,3.5,1.085714,0.981818,0.106170,-0.205764,12831,1.000000
1,1,3.439708,2.1,0.814286,0.981818,1.013798,-0.205764,16170,1.000000
2,2,0.003405,2.8,1.357143,0.981818,-0.522188,-0.205764,2797,0.583333
3,3,-0.839859,3.5,1.357143,0.736364,1.083616,1.138849,630,0.250000
4,4,-1.029593,3.5,1.085714,1.472727,-0.103283,-1.102173,698,0.083333

In [20]:
diamonds.drop(['Unnamed: 0'], axis=1, inplace=True)
display(diamonds)

          carat  cut     color   clarity     depth     table  price  carat_bin
0      3.081321  3.5  1.085714  0.981818  0.106170 -0.205764  12831   1.000000
1      3.439708  2.1  0.814286  0.981818  1.013798 -0.205764  16170   1.000000
2      0.003405  2.8  1.357143  0.981818 -0.522188 -0.205764   2797   0.583333
3     -0.839859  3.5  1.357143  0.736364  1.083616  1.138849    630   0.250000
4     -1.029593  3.5  1.085714  1.472727 -0.103283 -1.102173    698   0.083333
...         ...  ...       ...       ...       ...       ...    ...        ...
40450  0.656935  2.8  0.814286  1.227273  0.734528  1.587054   5315   0.791667
40451 -0.144166  3.5  1.357143  1.472727  0.594893 -0.653969   2762   0.541667
40452  0.973160  2.1  0.542857  1.718182 -1.778904  1.138849   6855   0.875000
40453 -0.165247  3.5  1.085714  0.981818 -0.242918 -0.653969   2297   0.541667
40454 -0.544716  2.8  1.085714  1.227273 -0.661823  0.690645   1356   0.416667

[40455 rows x 8 columns]

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix, accuracy_score

In [22]:
columns = ['carat','cut','color','clarity','depth','table']
#columns = ['carat','carat_bin','cut','color','clarity','depth','table']
X = diamonds[columns]
y = diamonds['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X.shape,y.shape)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)
display(X.head())
display(y.head())

(40455, 6) (40455,)
(32364, 6) (8091, 6) (32364,) (8091,)

      carat  cut     color   clarity     depth     table
0  3.081321  3.5  1.085714  0.981818  0.106170 -0.205764
1  3.439708  2.1  0.814286  0.981818  1.013798 -0.205764
2  0.003405  2.8  1.357143  0.981818 -0.522188 -0.205764
3 -0.839859  3.5  1.357143  0.736364  1.083616  1.138849
4 -1.029593  3.5  1.085714  1.472727 -0.103283 -1.102173

0    12831
1    16170
2     2797
3      630
4      698
Name: price, dtype: int64

In [23]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_classification

In [24]:
clf = RandomForestRegressor(n_estimators=200)

In [25]:
clf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [26]:
y_predr = clf.predict(X_test)

In [27]:
r2_score(y_test, y_predr)

0.9824766979689092

In [28]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_predr)

272717.82359235344

In [29]:
from math import sqrt
rmse = sqrt(mean_squared_error(y_test, y_predr))
rmse

522.2239209308143

In [30]:
dfm1 = pd.DataFrame()
dfm1["y_test"]=y_test
dfm1["y_predr"]=y_predr
dfm1["diff"]=y_test-y_predr

display(dfm1.head(5))

       y_test       y_predr        diff
9762     1195   1182.110000   12.890000
19341    6542   6497.076917   44.923083
18623   11262  10567.828333  694.171667
9857     4588   4602.060000  -14.060000
28651    2625   2446.952500  178.047500

In [35]:
##testing
#importing dataset
test1 = pd.read_csv('./clean_test.csv')
test1 = pd.DataFrame(test1)

In [36]:
display(test1.head())

,Unnamed: 0,id,carat,cut,color,clarity,depth,table,carat_bin
0,0,0,-0.500241,3.5,0.542857,1.472727,0.241489,-1.537773,0.458333
1,1,1,0.535739,3.5,1.085714,1.472727,0.101972,-0.646693,0.791667
2,2,2,-0.627096,2.8,1.628571,1.472727,-0.177064,-0.646693,0.333333
3,3,3,0.007178,3.5,1.357143,1.718182,0.729801,-0.646693,0.583333
4,4,4,-0.542526,3.5,1.085714,1.718182,-0.246823,-0.201152,0.416667

In [37]:
#test1.drop(['Unnamed: 0','id'], axis=1, inplace=True)
test1.drop(['Unnamed: 0','id','carat_bin'], axis=1, inplace=True)
display(test1.head())

      carat  cut     color   clarity     depth     table
0 -0.500241  3.5  0.542857  1.472727  0.241489 -1.537773
1  0.535739  3.5  1.085714  1.472727  0.101972 -0.646693
2 -0.627096  2.8  1.628571  1.472727 -0.177064 -0.646693
3  0.007178  3.5  1.357143  1.718182  0.729801 -0.646693
4 -0.542526  3.5  1.085714  1.718182 -0.246823 -0.201152

In [38]:
y_test1=clf.predict(test1)

In [39]:
pred_test1 = pd.DataFrame({
    'id': test1.index,
    'price': y_test1
})

In [40]:
display(pred_test1.head())

   id        price
0   0  1291.260000
1   1  6508.010000
2   2  1646.027833
3   3  3873.024917
4   4  1646.467500

In [42]:
#printing test predictions
pred_test1.to_csv('./output/pred_test5.csv', index=False)